{
    "openapi": "3.0.0",
    "info": {
        "title": "Arabhardware API Documentation",
        "description": "This is the API documentation for the Arabhardware project. It provides a comprehensive guide to interacting with the API endpoints.",
        "contact": {
            "name": "Support Team",
            "email": "sbilal@arabhardware.net"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://demo.arabhardware.net",
            "description": "Arabhardware API Server"
        }
    ],
    "paths": {
        "/api/": {},
        "api/v1/store/customers": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "Get all customers",
                "operationId": "6d39e92b0ea5e92b0be77bed221f7cd2",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "contact_name": {
                                                "type": "string",
                                                "example": "Bowman and Co"
                                            },
                                            "company_name": {
                                                "type": "string",
                                                "example": "Bowman and Co"
                                            },
                                            "payment_terms": {
                                                "type": "integer",
                                                "example": 15
                                            },
                                            "currency_id": {
                                                "type": "integer",
                                                "example": 460000000000097
                                            },
                                            "website": {
                                                "type": "string",
                                                "example": "www.bowmanfurniture.com"
                                            },
                                            "contact_type": {
                                                "type": "string",
                                                "example": "customer"
                                            },
                                            "custom_fields": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "value": {
                                                            "type": "string",
                                                            "example": "GBGD078"
                                                        },
                                                        "index": {
                                                            "type": "integer",
                                                            "example": 1
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "opening_balances": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "location_id": {
                                                            "type": "string",
                                                            "example": "460000000038080"
                                                        },
                                                        "exchange_rate": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 1
                                                        },
                                                        "opening_balance_amount": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 1200
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "billing_address": {
                                                "properties": {
                                                    "attention": {
                                                        "type": "string",
                                                        "example": "Mr.John"
                                                    },
                                                    "address": {
                                                        "type": "string",
                                                        "example": "4900 Hopyard Rd"
                                                    },
                                                    "street2": {
                                                        "type": "string",
                                                        "example": "Suit 310"
                                                    },
                                                    "city": {
                                                        "type": "string",
                                                        "example": "Pleasanton"
                                                    },
                                                    "state": {
                                                        "type": "string",
                                                        "example": "California"
                                                    },
                                                    "zip": {
                                                        "type": "integer",
                                                        "example": 94588
                                                    },
                                                    "country": {
                                                        "type": "string",
                                                        "example": "U.S.A"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "shipping_address": {
                                                "properties": {
                                                    "attention": {
                                                        "type": "string",
                                                        "example": "Mr.John"
                                                    },
                                                    "address": {
                                                        "type": "string",
                                                        "example": "4900 Hopyard Rd"
                                                    },
                                                    "street2": {
                                                        "type": "string",
                                                        "example": "Suit 310"
                                                    },
                                                    "city": {
                                                        "type": "string",
                                                        "example": "Pleasanton"
                                                    },
                                                    "state": {
                                                        "type": "string",
                                                        "example": "California"
                                                    },
                                                    "zip": {
                                                        "type": "integer",
                                                        "example": 94588
                                                    },
                                                    "country": {
                                                        "type": "string",
                                                        "example": "U.S.A"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "contact_persons": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "salutation": {
                                                            "type": "string",
                                                            "example": "Mr"
                                                        },
                                                        "first_name": {
                                                            "type": "string",
                                                            "example": "Will"
                                                        },
                                                        "last_name": {
                                                            "type": "string",
                                                            "example": "Smith"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "willsmith@bowmanfurniture.com"
                                                        },
                                                        "phone": {
                                                            "type": "string",
                                                            "example": "+1-925-921-9201"
                                                        },
                                                        "mobile": {
                                                            "type": "string",
                                                            "example": "+1-4054439562"
                                                        },
                                                        "is_primary_contact": {
                                                            "type": "boolean",
                                                            "example": true
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "default_templates": {
                                                "properties": {
                                                    "invoice_template_id": {
                                                        "type": "integer",
                                                        "example": 460000000052069
                                                    },
                                                    "invoice_template_name": {
                                                        "type": "string",
                                                        "example": "Custom Classic"
                                                    },
                                                    "estimate_template_id": {
                                                        "type": "integer",
                                                        "example": 460000000000179
                                                    },
                                                    "estimate_template_name": {
                                                        "type": "string",
                                                        "example": "Service - Professional"
                                                    },
                                                    "creditnote_template_id": {
                                                        "type": "integer",
                                                        "example": 460000000000211
                                                    },
                                                    "creditnote_template_name": {
                                                        "type": "string",
                                                        "example": "Fixed Cost - Professional"
                                                    },
                                                    "invoice_email_template_id": {
                                                        "type": "integer",
                                                        "example": 460000000052071
                                                    },
                                                    "invoice_email_template_name": {
                                                        "type": "string",
                                                        "example": "Custom Invoice Notification"
                                                    },
                                                    "estimate_email_template_id": {
                                                        "type": "integer",
                                                        "example": 460000000052073
                                                    },
                                                    "estimate_email_template_name": {
                                                        "type": "string",
                                                        "example": "Custom Estimate Notification"
                                                    },
                                                    "creditnote_email_template_id": {
                                                        "type": "integer",
                                                        "example": 460000000052075
                                                    },
                                                    "creditnote_email_template_name": {
                                                        "type": "string",
                                                        "example": "Custom Credit Note Notification"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "language_code": {
                                                "type": "string",
                                                "example": "en"
                                            },
                                            "notes": {
                                                "type": "string",
                                                "example": "Payment option : Through check"
                                            },
                                            "vat_reg_no": {
                                                "type": "string",
                                                "example": "string"
                                            },
                                            "tax_reg_no": {
                                                "type": "integer",
                                                "example": 12345678912345
                                            },
                                            "country_code": {
                                                "type": "string",
                                                "example": "US"
                                            },
                                            "vat_treatment": {
                                                "type": "string",
                                                "example": "string"
                                            },
                                            "tax_treatment": {
                                                "type": "string",
                                                "example": "string"
                                            },
                                            "tax_regime": {
                                                "type": "string",
                                                "example": "general_legal_person"
                                            },
                                            "legal_name": {
                                                "type": "string",
                                                "example": "ESCUELA KEMPER URGATE"
                                            },
                                            "is_tds_registered": {
                                                "type": "boolean",
                                                "example": true
                                            },
                                            "avatax_exempt_no": {
                                                "type": "string",
                                                "example": "string"
                                            },
                                            "avatax_use_code": {
                                                "type": "string",
                                                "example": "string"
                                            },
                                            "tax_exemption_id": {
                                                "type": "integer",
                                                "example": 11149000000061054
                                            },
                                            "tax_authority_id": {
                                                "type": "integer",
                                                "example": 11149000000061052
                                            },
                                            "tax_id": {
                                                "type": "integer",
                                                "example": 11149000000061058
                                            },
                                            "is_taxable": {
                                                "type": "boolean",
                                                "example": true
                                            },
                                            "facebook": {
                                                "type": "string",
                                                "example": "zoho"
                                            },
                                            "twitter": {
                                                "type": "string",
                                                "example": "zoho"
                                            },
                                            "place_of_contact": {
                                                "type": "string",
                                                "example": "TN"
                                            },
                                            "gst_no": {
                                                "type": "string",
                                                "example": "22AAAAA0000A1Z5"
                                            },
                                            "gst_treatment": {
                                                "type": "string",
                                                "example": "business_gst"
                                            },
                                            "tax_authority_name": {
                                                "type": "string",
                                                "example": "string"
                                            },
                                            "tax_exemption_code": {
                                                "type": "string",
                                                "example": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request"
                    }
                }
            },
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Create a new customer",
                "operationId": "19125dcc32fa31005b044b6dec322ea8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "contact_name": {
                                        "type": "string",
                                        "example": "Bowman and Co"
                                    },
                                    "company_name": {
                                        "type": "string",
                                        "example": "Bowman and Co"
                                    },
                                    "payment_terms": {
                                        "type": "integer",
                                        "example": 15
                                    },
                                    "currency_id": {
                                        "type": "integer",
                                        "example": 460000000000097
                                    },
                                    "website": {
                                        "type": "string",
                                        "example": "www.bowmanfurniture.com"
                                    },
                                    "contact_type": {
                                        "type": "string",
                                        "example": "customer"
                                    },
                                    "custom_fields": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "example": "GBGD078"
                                                },
                                                "index": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "opening_balances": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "location_id": {
                                                    "type": "string",
                                                    "example": "460000000038080"
                                                },
                                                "exchange_rate": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 1
                                                },
                                                "opening_balance_amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 1200
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "billing_address": {
                                        "properties": {
                                            "attention": {
                                                "type": "string",
                                                "example": "Mr.John"
                                            },
                                            "address": {
                                                "type": "string",
                                                "example": "4900 Hopyard Rd"
                                            },
                                            "street2": {
                                                "type": "string",
                                                "example": "Suit 310"
                                            },
                                            "city": {
                                                "type": "string",
                                                "example": "Pleasanton"
                                            },
                                            "state": {
                                                "type": "string",
                                                "example": "California"
                                            },
                                            "zip": {
                                                "type": "integer",
                                                "example": 94588
                                            },
                                            "country": {
                                                "type": "string",
                                                "example": "U.S.A"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "shipping_address": {
                                        "properties": {
                                            "attention": {
                                                "type": "string",
                                                "example": "Mr.John"
                                            },
                                            "address": {
                                                "type": "string",
                                                "example": "4900 Hopyard Rd"
                                            },
                                            "street2": {
                                                "type": "string",
                                                "example": "Suit 310"
                                            },
                                            "city": {
                                                "type": "string",
                                                "example": "Pleasanton"
                                            },
                                            "state": {
                                                "type": "string",
                                                "example": "California"
                                            },
                                            "zip": {
                                                "type": "integer",
                                                "example": 94588
                                            },
                                            "country": {
                                                "type": "string",
                                                "example": "U.S.A"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "contact_persons": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "salutation": {
                                                    "type": "string",
                                                    "example": "Mr"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "Will"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Smith"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "willsmith@bowmanfurniture.com"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "+1-925-921-9201"
                                                },
                                                "mobile": {
                                                    "type": "string",
                                                    "example": "+1-4054439562"
                                                },
                                                "is_primary_contact": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "default_templates": {
                                        "properties": {
                                            "invoice_template_id": {
                                                "type": "integer",
                                                "example": 460000000052069
                                            },
                                            "invoice_template_name": {
                                                "type": "string",
                                                "example": "Custom Classic"
                                            },
                                            "estimate_template_id": {
                                                "type": "integer",
                                                "example": 460000000000179
                                            },
                                            "estimate_template_name": {
                                                "type": "string",
                                                "example": "Service - Professional"
                                            },
                                            "creditnote_template_id": {
                                                "type": "integer",
                                                "example": 460000000000211
                                            },
                                            "creditnote_template_name": {
                                                "type": "string",
                                                "example": "Fixed Cost - Professional"
                                            },
                                            "invoice_email_template_id": {
                                                "type": "integer",
                                                "example": 460000000052071
                                            },
                                            "invoice_email_template_name": {
                                                "type": "string",
                                                "example": "Custom Invoice Notification"
                                            },
                                            "estimate_email_template_id": {
                                                "type": "integer",
                                                "example": 460000000052073
                                            },
                                            "estimate_email_template_name": {
                                                "type": "string",
                                                "example": "Custom Estimate Notification"
                                            },
                                            "creditnote_email_template_id": {
                                                "type": "integer",
                                                "example": 460000000052075
                                            },
                                            "creditnote_email_template_name": {
                                                "type": "string",
                                                "example": "Custom Credit Note Notification"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "language_code": {
                                        "type": "string",
                                        "example": "en"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Payment option : Through check"
                                    },
                                    "vat_reg_no": {
                                        "type": "string",
                                        "example": "string"
                                    },
                                    "tax_reg_no": {
                                        "type": "integer",
                                        "example": 12345678912345
                                    },
                                    "country_code": {
                                        "type": "string",
                                        "example": "US"
                                    },
                                    "vat_treatment": {
                                        "type": "string",
                                        "example": "string"
                                    },
                                    "tax_treatment": {
                                        "type": "string",
                                        "example": "string"
                                    },
                                    "tax_regime": {
                                        "type": "string",
                                        "example": "general_legal_person"
                                    },
                                    "legal_name": {
                                        "type": "string",
                                        "example": "ESCUELA KEMPER URGATE"
                                    },
                                    "is_tds_registered": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "avatax_exempt_no": {
                                        "type": "string",
                                        "example": "string"
                                    },
                                    "avatax_use_code": {
                                        "type": "string",
                                        "example": "string"
                                    },
                                    "tax_exemption_id": {
                                        "type": "integer",
                                        "example": 11149000000061054
                                    },
                                    "tax_authority_id": {
                                        "type": "integer",
                                        "example": 11149000000061052
                                    },
                                    "tax_id": {
                                        "type": "integer",
                                        "example": 11149000000061058
                                    },
                                    "is_taxable": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "facebook": {
                                        "type": "string",
                                        "example": "zoho"
                                    },
                                    "twitter": {
                                        "type": "string",
                                        "example": "zoho"
                                    },
                                    "place_of_contact": {
                                        "type": "string",
                                        "example": "TN"
                                    },
                                    "gst_no": {
                                        "type": "string",
                                        "example": "22AAAAA0000A1Z5"
                                    },
                                    "gst_treatment": {
                                        "type": "string",
                                        "example": "business_gst"
                                    },
                                    "tax_authority_name": {
                                        "type": "string",
                                        "example": "string"
                                    },
                                    "tax_exemption_code": {
                                        "type": "string",
                                        "example": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Customer created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "contact_name": {
                                            "type": "string",
                                            "example": "Bowman and Co"
                                        },
                                        "company_name": {
                                            "type": "string",
                                            "example": "Bowman and Co"
                                        },
                                        "payment_terms": {
                                            "type": "integer",
                                            "example": 15
                                        },
                                        "currency_id": {
                                            "type": "integer",
                                            "example": 460000000000097
                                        },
                                        "website": {
                                            "type": "string",
                                            "example": "www.bowmanfurniture.com"
                                        },
                                        "contact_type": {
                                            "type": "string",
                                            "example": "customer"
                                        },
                                        "custom_fields": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "example": "GBGD078"
                                                    },
                                                    "index": {
                                                        "type": "integer",
                                                        "example": 1
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "opening_balances": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "location_id": {
                                                        "type": "string",
                                                        "example": "460000000038080"
                                                    },
                                                    "exchange_rate": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 1
                                                    },
                                                    "opening_balance_amount": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 1200
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "billing_address": {
                                            "properties": {
                                                "attention": {
                                                    "type": "string",
                                                    "example": "Mr.John"
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": "4900 Hopyard Rd"
                                                },
                                                "street2": {
                                                    "type": "string",
                                                    "example": "Suit 310"
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": "Pleasanton"
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": "California"
                                                },
                                                "zip": {
                                                    "type": "integer",
                                                    "example": 94588
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": "U.S.A"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "shipping_address": {
                                            "properties": {
                                                "attention": {
                                                    "type": "string",
                                                    "example": "Mr.John"
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": "4900 Hopyard Rd"
                                                },
                                                "street2": {
                                                    "type": "string",
                                                    "example": "Suit 310"
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": "Pleasanton"
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": "California"
                                                },
                                                "zip": {
                                                    "type": "integer",
                                                    "example": 94588
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": "U.S.A"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "contact_persons": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "salutation": {
                                                        "type": "string",
                                                        "example": "Mr"
                                                    },
                                                    "first_name": {
                                                        "type": "string",
                                                        "example": "Will"
                                                    },
                                                    "last_name": {
                                                        "type": "string",
                                                        "example": "Smith"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "example": "willsmith@bowmanfurniture.com"
                                                    },
                                                    "phone": {
                                                        "type": "string",
                                                        "example": "+1-925-921-9201"
                                                    },
                                                    "mobile": {
                                                        "type": "string",
                                                        "example": "+1-4054439562"
                                                    },
                                                    "is_primary_contact": {
                                                        "type": "boolean",
                                                        "example": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "default_templates": {
                                            "properties": {
                                                "invoice_template_id": {
                                                    "type": "integer",
                                                    "example": 460000000052069
                                                },
                                                "invoice_template_name": {
                                                    "type": "string",
                                                    "example": "Custom Classic"
                                                },
                                                "estimate_template_id": {
                                                    "type": "integer",
                                                    "example": 460000000000179
                                                },
                                                "estimate_template_name": {
                                                    "type": "string",
                                                    "example": "Service - Professional"
                                                },
                                                "creditnote_template_id": {
                                                    "type": "integer",
                                                    "example": 460000000000211
                                                },
                                                "creditnote_template_name": {
                                                    "type": "string",
                                                    "example": "Fixed Cost - Professional"
                                                },
                                                "invoice_email_template_id": {
                                                    "type": "integer",
                                                    "example": 460000000052071
                                                },
                                                "invoice_email_template_name": {
                                                    "type": "string",
                                                    "example": "Custom Invoice Notification"
                                                },
                                                "estimate_email_template_id": {
                                                    "type": "integer",
                                                    "example": 460000000052073
                                                },
                                                "estimate_email_template_name": {
                                                    "type": "string",
                                                    "example": "Custom Estimate Notification"
                                                },
                                                "creditnote_email_template_id": {
                                                    "type": "integer",
                                                    "example": 460000000052075
                                                },
                                                "creditnote_email_template_name": {
                                                    "type": "string",
                                                    "example": "Custom Credit Note Notification"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "language_code": {
                                            "type": "string",
                                            "example": "en"
                                        },
                                        "notes": {
                                            "type": "string",
                                            "example": "Payment option : Through check"
                                        },
                                        "vat_reg_no": {
                                            "type": "string",
                                            "example": "string"
                                        },
                                        "tax_reg_no": {
                                            "type": "integer",
                                            "example": 12345678912345
                                        },
                                        "country_code": {
                                            "type": "string",
                                            "example": "US"
                                        },
                                        "vat_treatment": {
                                            "type": "string",
                                            "example": "string"
                                        },
                                        "tax_treatment": {
                                            "type": "string",
                                            "example": "string"
                                        },
                                        "tax_regime": {
                                            "type": "string",
                                            "example": "general_legal_person"
                                        },
                                        "legal_name": {
                                            "type": "string",
                                            "example": "ESCUELA KEMPER URGATE"
                                        },
                                        "is_tds_registered": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "avatax_exempt_no": {
                                            "type": "string",
                                            "example": "string"
                                        },
                                        "avatax_use_code": {
                                            "type": "string",
                                            "example": "string"
                                        },
                                        "tax_exemption_id": {
                                            "type": "integer",
                                            "example": 11149000000061054
                                        },
                                        "tax_authority_id": {
                                            "type": "integer",
                                            "example": 11149000000061052
                                        },
                                        "tax_id": {
                                            "type": "integer",
                                            "example": 11149000000061058
                                        },
                                        "is_taxable": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "facebook": {
                                            "type": "string",
                                            "example": "zoho"
                                        },
                                        "twitter": {
                                            "type": "string",
                                            "example": "zoho"
                                        },
                                        "place_of_contact": {
                                            "type": "string",
                                            "example": "TN"
                                        },
                                        "gst_no": {
                                            "type": "string",
                                            "example": "22AAAAA0000A1Z5"
                                        },
                                        "gst_treatment": {
                                            "type": "string",
                                            "example": "business_gst"
                                        },
                                        "tax_authority_name": {
                                            "type": "string",
                                            "example": "string"
                                        },
                                        "tax_exemption_code": {
                                            "type": "string",
                                            "example": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "api/v1/store/customers/{id}": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "Get a specific customer",
                "operationId": "144577eebe11cbf4f54c5d40b5460c3f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Customer ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "contact_name": {
                                            "type": "string",
                                            "example": "Bowman and Co"
                                        },
                                        "company_name": {
                                            "type": "string",
                                            "example": "Bowman and Co"
                                        },
                                        "payment_terms": {
                                            "type": "integer",
                                            "example": 15
                                        },
                                        "currency_id": {
                                            "type": "integer",
                                            "example": 460000000000097
                                        },
                                        "website": {
                                            "type": "string",
                                            "example": "www.bowmanfurniture.com"
                                        },
                                        "contact_type": {
                                            "type": "string",
                                            "example": "customer"
                                        },
                                        "custom_fields": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "value": {
                                                        "type": "string",
                                                        "example": "GBGD078"
                                                    },
                                                    "index": {
                                                        "type": "integer",
                                                        "example": 1
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "opening_balances": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "location_id": {
                                                        "type": "string",
                                                        "example": "460000000038080"
                                                    },
                                                    "exchange_rate": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 1
                                                    },
                                                    "opening_balance_amount": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 1200
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "billing_address": {
                                            "properties": {
                                                "attention": {
                                                    "type": "string",
                                                    "example": "Mr.John"
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": "4900 Hopyard Rd"
                                                },
                                                "street2": {
                                                    "type": "string",
                                                    "example": "Suit 310"
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": "Pleasanton"
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": "California"
                                                },
                                                "zip": {
                                                    "type": "integer",
                                                    "example": 94588
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": "U.S.A"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "shipping_address": {
                                            "properties": {
                                                "attention": {
                                                    "type": "string",
                                                    "example": "Mr.John"
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": "4900 Hopyard Rd"
                                                },
                                                "street2": {
                                                    "type": "string",
                                                    "example": "Suit 310"
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": "Pleasanton"
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": "California"
                                                },
                                                "zip": {
                                                    "type": "integer",
                                                    "example": 94588
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": "U.S.A"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "contact_persons": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "salutation": {
                                                        "type": "string",
                                                        "example": "Mr"
                                                    },
                                                    "first_name": {
                                                        "type": "string",
                                                        "example": "Will"
                                                    },
                                                    "last_name": {
                                                        "type": "string",
                                                        "example": "Smith"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "example": "willsmith@bowmanfurniture.com"
                                                    },
                                                    "phone": {
                                                        "type": "string",
                                                        "example": "+1-925-921-9201"
                                                    },
                                                    "mobile": {
                                                        "type": "string",
                                                        "example": "+1-4054439562"
                                                    },
                                                    "is_primary_contact": {
                                                        "type": "boolean",
                                                        "example": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "default_templates": {
                                            "properties": {
                                                "invoice_template_id": {
                                                    "type": "integer",
                                                    "example": 460000000052069
                                                },
                                                "invoice_template_name": {
                                                    "type": "string",
                                                    "example": "Custom Classic"
                                                },
                                                "estimate_template_id": {
                                                    "type": "integer",
                                                    "example": 460000000000179
                                                },
                                                "estimate_template_name": {
                                                    "type": "string",
                                                    "example": "Service - Professional"
                                                },
                                                "creditnote_template_id": {
                                                    "type": "integer",
                                                    "example": 460000000000211
                                                },
                                                "creditnote_template_name": {
                                                    "type": "string",
                                                    "example": "Fixed Cost - Professional"
                                                },
                                                "invoice_email_template_id": {
                                                    "type": "integer",
                                                    "example": 460000000052071
                                                },
                                                "invoice_email_template_name": {
                                                    "type": "string",
                                                    "example": "Custom Invoice Notification"
                                                },
                                                "estimate_email_template_id": {
                                                    "type": "integer",
                                                    "example": 460000000052073
                                                },
                                                "estimate_email_template_name": {
                                                    "type": "string",
                                                    "example": "Custom Estimate Notification"
                                                },
                                                "creditnote_email_template_id": {
                                                    "type": "integer",
                                                    "example": 460000000052075
                                                },
                                                "creditnote_email_template_name": {
                                                    "type": "string",
                                                    "example": "Custom Credit Note Notification"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "language_code": {
                                            "type": "string",
                                            "example": "en"
                                        },
                                        "notes": {
                                            "type": "string",
                                            "example": "Payment option : Through check"
                                        },
                                        "vat_reg_no": {
                                            "type": "string",
                                            "example": "string"
                                        },
                                        "tax_reg_no": {
                                            "type": "integer",
                                            "example": 12345678912345
                                        },
                                        "country_code": {
                                            "type": "string",
                                            "example": "US"
                                        },
                                        "vat_treatment": {
                                            "type": "string",
                                            "example": "string"
                                        },
                                        "tax_treatment": {
                                            "type": "string",
                                            "example": "string"
                                        },
                                        "tax_regime": {
                                            "type": "string",
                                            "example": "general_legal_person"
                                        },
                                        "legal_name": {
                                            "type": "string",
                                            "example": "ESCUELA KEMPER URGATE"
                                        },
                                        "is_tds_registered": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "avatax_exempt_no": {
                                            "type": "string",
                                            "example": "string"
                                        },
                                        "avatax_use_code": {
                                            "type": "string",
                                            "example": "string"
                                        },
                                        "tax_exemption_id": {
                                            "type": "integer",
                                            "example": 11149000000061054
                                        },
                                        "tax_authority_id": {
                                            "type": "integer",
                                            "example": 11149000000061052
                                        },
                                        "tax_id": {
                                            "type": "integer",
                                            "example": 11149000000061058
                                        },
                                        "is_taxable": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "facebook": {
                                            "type": "string",
                                            "example": "zoho"
                                        },
                                        "twitter": {
                                            "type": "string",
                                            "example": "zoho"
                                        },
                                        "place_of_contact": {
                                            "type": "string",
                                            "example": "TN"
                                        },
                                        "gst_no": {
                                            "type": "string",
                                            "example": "22AAAAA0000A1Z5"
                                        },
                                        "gst_treatment": {
                                            "type": "string",
                                            "example": "business_gst"
                                        },
                                        "tax_authority_name": {
                                            "type": "string",
                                            "example": "string"
                                        },
                                        "tax_exemption_code": {
                                            "type": "string",
                                            "example": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Customer not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Customers"
                ],
                "summary": "Update a customer",
                "operationId": "e7c5fb386e142c7ce566f787d422c6b9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Customer ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "contact_name": {
                                        "type": "string",
                                        "example": "Bowman and Co"
                                    },
                                    "company_name": {
                                        "type": "string",
                                        "example": "Bowman and Co"
                                    },
                                    "payment_terms": {
                                        "type": "integer",
                                        "example": 15
                                    },
                                    "currency_id": {
                                        "type": "integer",
                                        "example": 460000000000097
                                    },
                                    "website": {
                                        "type": "string",
                                        "example": "www.bowmanfurniture.com"
                                    },
                                    "contact_type": {
                                        "type": "string",
                                        "example": "customer"
                                    },
                                    "custom_fields": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "value": {
                                                    "type": "string",
                                                    "example": "GBGD078"
                                                },
                                                "index": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "opening_balances": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "location_id": {
                                                    "type": "string",
                                                    "example": "460000000038080"
                                                },
                                                "exchange_rate": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 1
                                                },
                                                "opening_balance_amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 1200
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "billing_address": {
                                        "properties": {
                                            "attention": {
                                                "type": "string",
                                                "example": "Mr.John"
                                            },
                                            "address": {
                                                "type": "string",
                                                "example": "4900 Hopyard Rd"
                                            },
                                            "street2": {
                                                "type": "string",
                                                "example": "Suit 310"
                                            },
                                            "city": {
                                                "type": "string",
                                                "example": "Pleasanton"
                                            },
                                            "state": {
                                                "type": "string",
                                                "example": "California"
                                            },
                                            "zip": {
                                                "type": "integer",
                                                "example": 94588
                                            },
                                            "country": {
                                                "type": "string",
                                                "example": "U.S.A"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "shipping_address": {
                                        "properties": {
                                            "attention": {
                                                "type": "string",
                                                "example": "Mr.John"
                                            },
                                            "address": {
                                                "type": "string",
                                                "example": "4900 Hopyard Rd"
                                            },
                                            "street2": {
                                                "type": "string",
                                                "example": "Suit 310"
                                            },
                                            "city": {
                                                "type": "string",
                                                "example": "Pleasanton"
                                            },
                                            "state": {
                                                "type": "string",
                                                "example": "California"
                                            },
                                            "zip": {
                                                "type": "integer",
                                                "example": 94588
                                            },
                                            "country": {
                                                "type": "string",
                                                "example": "U.S.A"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "contact_persons": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "salutation": {
                                                    "type": "string",
                                                    "example": "Mr"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "Will"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Smith"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "willsmith@bowmanfurniture.com"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "+1-925-921-9201"
                                                },
                                                "mobile": {
                                                    "type": "string",
                                                    "example": "+1-4054439562"
                                                },
                                                "is_primary_contact": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "default_templates": {
                                        "properties": {
                                            "invoice_template_id": {
                                                "type": "integer",
                                                "example": 460000000052069
                                            },
                                            "invoice_template_name": {
                                                "type": "string",
                                                "example": "Custom Classic"
                                            },
                                            "estimate_template_id": {
                                                "type": "integer",
                                                "example": 460000000000179
                                            },
                                            "estimate_template_name": {
                                                "type": "string",
                                                "example": "Service - Professional"
                                            },
                                            "creditnote_template_id": {
                                                "type": "integer",
                                                "example": 460000000000211
                                            },
                                            "creditnote_template_name": {
                                                "type": "string",
                                                "example": "Fixed Cost - Professional"
                                            },
                                            "invoice_email_template_id": {
                                                "type": "integer",
                                                "example": 460000000052071
                                            },
                                            "invoice_email_template_name": {
                                                "type": "string",
                                                "example": "Custom Invoice Notification"
                                            },
                                            "estimate_email_template_id": {
                                                "type": "integer",
                                                "example": 460000000052073
                                            },
                                            "estimate_email_template_name": {
                                                "type": "string",
                                                "example": "Custom Estimate Notification"
                                            },
                                            "creditnote_email_template_id": {
                                                "type": "integer",
                                                "example": 460000000052075
                                            },
                                            "creditnote_email_template_name": {
                                                "type": "string",
                                                "example": "Custom Credit Note Notification"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "language_code": {
                                        "type": "string",
                                        "example": "en"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Payment option : Through check"
                                    },
                                    "vat_reg_no": {
                                        "type": "string",
                                        "example": "string"
                                    },
                                    "tax_reg_no": {
                                        "type": "integer",
                                        "example": 12345678912345
                                    },
                                    "country_code": {
                                        "type": "string",
                                        "example": "US"
                                    },
                                    "vat_treatment": {
                                        "type": "string",
                                        "example": "string"
                                    },
                                    "tax_treatment": {
                                        "type": "string",
                                        "example": "string"
                                    },
                                    "tax_regime": {
                                        "type": "string",
                                        "example": "general_legal_person"
                                    },
                                    "legal_name": {
                                        "type": "string",
                                        "example": "ESCUELA KEMPER URGATE"
                                    },
                                    "is_tds_registered": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "avatax_exempt_no": {
                                        "type": "string",
                                        "example": "string"
                                    },
                                    "avatax_use_code": {
                                        "type": "string",
                                        "example": "string"
                                    },
                                    "tax_exemption_id": {
                                        "type": "integer",
                                        "example": 11149000000061054
                                    },
                                    "tax_authority_id": {
                                        "type": "integer",
                                        "example": 11149000000061052
                                    },
                                    "tax_id": {
                                        "type": "integer",
                                        "example": 11149000000061058
                                    },
                                    "is_taxable": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "facebook": {
                                        "type": "string",
                                        "example": "zoho"
                                    },
                                    "twitter": {
                                        "type": "string",
                                        "example": "zoho"
                                    },
                                    "place_of_contact": {
                                        "type": "string",
                                        "example": "TN"
                                    },
                                    "gst_no": {
                                        "type": "string",
                                        "example": "22AAAAA0000A1Z5"
                                    },
                                    "gst_treatment": {
                                        "type": "string",
                                        "example": "business_gst"
                                    },
                                    "tax_authority_name": {
                                        "type": "string",
                                        "example": "string"
[...]
