@import 'tailwindcss';
/* @import '../../vendor/livewire/flux/dist/flux.css'; */

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../Modules/**/resources/views/**/*.blade.php',


@custom-variant dark (&:where(.dark, .dark *));

/* @theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
} */

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

/* [data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
} */

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */



/** daisyUI */
@plugin "daisyui" {
    themes: all;
}

@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: #030712;
    --color-base-200: #111828;
    --color-base-300: #030712;
    --color-base-content: oklch(97.807% 0.029 256.847);
    --color-primary: oklch(57% 0.245 27.325);
    --color-primary-content: oklch(98% 0.003 247.858);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(77% 0.152 181.912);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(98% 0.003 247.858);
    --color-neutral-content: oklch(12% 0.042 264.695);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: true;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(57% 0.245 27.325);
    --color-primary-content: oklch(98% 0.003 247.858);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(77% 0.152 181.912);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

/**
* Paginator - Traditional style
* Because Laravel defaults does not match well the design of daisyUI.
*/

.mary-table-pagination span[aria-current="page"]>span {
    @apply bg-primary text-base-100
}

.mary-table-pagination button {
    @apply cursor-pointer
}


.login-shape {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: -5em;
    bottom: 0;
    width: 26rem;
    border-radius: 26rem;
    overflow: hidden;
    height: 26rem;
    position: relative;
}

.objects_computer {
    position: absolute;
    width: 7rem;
    height: 5.5rem;
    background: #bfbfbf;
    left: 3.8rem;
    top: 14.8rem;
    transform: skew(17deg, 0deg);
    border-radius: 0.6rem 0.6rem 0 0;
    box-shadow: inset -6px 1px darkgrey;
}

.objects_computer:after {
    content: "";
    position: absolute;
    width: 2rem;
    height: 0.5rem;
    background: darkgrey;
    top: 5.1rem;
    left: 7rem;
    transform: skew(0deg, 2deg);
}

.objects_table {
    position: absolute;
    width: 22rem;
    top: 20.4rem;
    height: 1.4rem;
    background: #63321f;
    left: 2rem;
    box-shadow: 0px -3px #582714;
}

.objects_table:before {
    content: "";
    width: 19rem;
    height: 1.2rem;
    position: absolute;
    background: #582714;
    border-radius: 0 1rem;
    top: 1.4rem;
    left: 3rem;
    z-index: 1;
}

.objects_cup {
    position: absolute;
    width: 2.4rem;
    top: 17.2rem;
    background: #f11420;
    left: 16.8rem;
    height: 3rem;
    border-radius: 0.3rem 0.3rem 0 0;
    z-index: 55;
    box-shadow: -2px 0px #f50e1a;
}

.objects_cup:after {
    content: "";
    width: 2rem;
    height: 2rem;
    background: #f11420;
    position: absolute;
    top: 0.7rem;
    left: 0.4rem;
    border: none;
    border-radius: 0;
    z-index: 5;
}

.objects_cup:before {
    content: "";
    position: absolute;
    width: 1.4rem;
    height: 1.3rem;
    border: 4px solid #f50e1a;
    left: 1.6rem;
    top: 0.8rem;
    border-radius: 1rem;
    z-index: 1;
}

.objects_chair {
    height: 10.2rem;
    position: absolute;
    width: 9.1rem;
    background: #3c3c3c;
    left: 16.6rem;
    top: 10rem;
    border-radius: 2rem 2rem 0 0;
    transform: skew(-9deg, 0deg);
    box-shadow: inset -9px 5px #424242;
}

.box_1 {
    position: absolute;
    width: 5.4rem;
    height: 6.8rem;
    left: 1rem;
    top: 6.7rem;
    background-color: rgba(99, 102, 115, 0.709804);
    border-radius: 0.6rem;
    box-shadow: 1px 3px 5px #00000052;
    animation: float 2s infinite;
}

.box_1 div {
    background: #f11420;
    position: absolute;
    border-radius: 1rem;
}

.box_1 :nth-child(1) {
    width: 1.8rem;
    height: 0.3rem;
    top: 1.2rem;
    left: 1.3rem;
}

.box_1 :nth-child(2) {
    width: 1rem;
    height: 0.3rem;
    top: 1.2rem;
    left: 3.3rem;
}

.box_1 :nth-child(3) {
    width: 1.1rem;
    height: 0.3rem;
    top: 2rem;
    left: 2.1rem;
}

.box_1 :nth-child(4) {
    width: 1.4rem;
    height: 0.3rem;
    top: 2rem;
    left: 3.3rem;
}

.box_1 :nth-child(5) {
    width: 0.7rem;
    height: 0.3rem;
    top: 2.7rem;
    left: 2.7rem;
    box-shadow: 1rem 0px #f11420, 1.8rem 0px #f11420, -0.5rem 11px #f11420;
}

.box_1 :nth-child(6) {
    width: 1.8rem;
    height: 0.3rem;
    top: 4.1rem;
    left: 1.2rem;
    box-shadow: 1rem 22px #f11420, 0rem 43px #f11420;
}

.box_1 :nth-child(7) {
    width: 0.8rem;
    height: 0.3rem;
    top: 4.8rem;
    left: 1.7rem;
    box-shadow: 0rem 22px #f11420;
}

.box_2 {
    position: absolute;
    width: 6.4rem;
    height: 4.4rem;
    left: 7.3rem;
    top: 1.7rem;
    background-color: rgba(99, 102, 115, 0.709804);
    border-radius: 0.6rem;
    box-shadow: 1px 3px 5px #00000052;
    animation: float2 2s 1s infinite;
}

.box_2 div {
    position: absolute;
    border-radius: 1rem;
    background: #f11420;
}

.box_2 :nth-child(1) {
    transform: rotate(45deg);
    width: 0.2rem;
    height: 0.6rem;
    left: 0.8rem;
    top: -0.4rem;
    box-shadow: 1.1rem 0.5rem #f11420, 2.5rem -0.5rem #f11420, 6rem 0.5rem #f11420;
}

.box_2 :nth-child(2) {
    transform: rotate(133deg);
    width: 0.2rem;
    height: 0.6rem;
    left: 0.8rem;
    top: 0rem;
    box-shadow: 0.5rem -1.1rem #f11420, -0.9rem -2rem #f11420, 0.2rem -5.5rem #f11420;
}

.box_2:after {
    content: "";
    width: 1rem;
    height: 0.2rem;
    background: #f11420;
    position: absolute;
    border-radius: 6rem;
    top: 2.4rem;
    left: 2.2rem;
}

.box_2:before {
    content: "";
    width: 0.8rem;
    height: 0.2rem;
    background: #f11420;
    position: absolute;
    border-radius: 6rem;
    top: 1.1rem;
    left: 2rem;
    transform: rotate(-68deg);
    box-shadow: -2.2rem 2.8rem #f11420;
}

.box_3 {
    position: absolute;
    width: 4.9rem;
    height: 4.2rem;
    left: 7.3rem;
    top: 7.4rem;
    background-color: rgba(99, 102, 115, 0.709804);
    border-radius: 0.6rem;
    box-shadow: 1px 3px 5px #00000052;
    animation: float3 2.5s infinite;
}

.box_3:after {
    content: "";
    position: absolute;
    background: #f11420;
    width: 0.8rem;
    height: 0.2rem;
    transform: rotate(-64deg);
    border-radius: 5rem;
    top: 0.8rem;
    left: 0.5rem;
    box-shadow: 0.2rem 0.5rem #f11420;
}

.smoke {
    width: 70px;
    height: 100px;
    background: none;
    position: absolute;
    left: 18rem;
    margin-left: -40px;
    z-index: 3;
    top: 13.8rem;
    animation: bk 11s infinite;
}

.smoke:after {
    content: "";
    width: 100px;
    height: 100px;
    background: none;
    position: absolute;
    background-image: -webkit-radial-gradient(42% 48%, ellipse, rgba(255, 255, 255, 0.2), transparent 25%), -webkit-radial-gradient(35% 70%, ellipse, rgba(255, 255, 255, 0.2), transparent 15%), -webkit-radial-gradient(42% 61%, ellipse, rgba(255, 255, 255, 0.2), transparent 10%);
    animation: smoke 2s 1s infinite;
    transform: rotate(18deg);
}

@keyframes float {
    0% {
        top: 6.7rem;
    }

    50% {
        top: 7rem;
    }

    100% {
        top: 6.7rem;
    }
}

@keyframes float2 {
    0% {
        top: 1.7rem;
    }

    50% {
        top: 2rem;
    }

    100% {
        top: 1.7rem;
    }
}

@keyframes float3 {
    0% {
        top: 7.4rem;
    }

    50% {
        top: 7.7rem;
    }

    100% {
        top: 7.4rem;
    }
}

@keyframes smoke {
    0% {
        background-position: 0 0;
        opacity: 0;
    }

    15%,
    85% {
        opacity: 1;
    }

    100% {
        background-position: -20px -25px, -5px -25px, 0px -25px, 0px -25px;
        opacity: 0;
    }
}
